<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INVEST IN BEST</title>

    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">



</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">INVEST IN BEST</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/info">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Information</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                포트폴리오
            </div>

            <!-- Nav Item - rebal -->
            <li class="nav-item active">
                <a class="nav-link" href="/chart">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Roly-Poly 모델</span></a>
            </li>

            <!-- Nav Item - capm -->
            <li class="nav-item active">
                <a class="nav-link" href="/capm">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>CAPM 모델</span></a>
            </li>

            <!-- Nav Item - bl -->
            <li class="nav-item active">
                <a class="nav-link" href="/fac5">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Black–Litterman 모델</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h1 mb-2 mt-2 text-gray-800">
                        <a target="_blank" href="info">대형 & 가치주</a>
                    </h1>
                    <hr class="Divider my-0">

                    <!-- Content Row -->
                    <div class="row mt-4">

                        <!-- Earnings (Monthly) Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                월별 수익률</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">0.71%</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                연간 수익률</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">8.46%</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- balance Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">자산 배분 비율
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">60%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 60%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- # of index Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                포함 주식 수</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{lng}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Page Medium Head -->
                    <h1 class="h1 mb-2 mt-2 text-primary">
                        모델 상세 내용
                    </h1>
                    <hr class="Divider my-0">

                    <div class="row mt-4 mb-2">
                        <!-- Donut Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">기본 모델</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart_origin"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                    {%for i in range(lng):%}    
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> {{table_data["종목명"][i]}}
                                        </span>
                                    {%endfor%}
                                    </div>
                                    <hr>
                                    OPT1 자산 배분 비율
                                </div>
                            </div>
                        </div>

                        <!-- Donut Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">1차 기대치 반영</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart_op1"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        {%for i in range(lng):%}    
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-primary"></i> {{table_data["종목명"][i]}}
                                            </span>
                                        {%endfor%}
                                    </div>
                                    <hr>
                                    OPT2 자산 배분 비율
                                </div>
                            </div>
                        </div>

                        <!-- Donut Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">2차 기대치 반영</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart_op2"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        {%for i in range(lng):%}    
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-primary"></i> {{table_data["종목명"][i]}}
                                            </span>
                                        {%endfor%}
                                    </div>
                                    <hr>
                                    OPT3 자산 배분 비율
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-2 mb-2">

                        <!-- Bar Chart -->
                        <div class="card shadow mb-4 col-xl-6">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">수익률</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="myBarChart_bv"></canvas>
                                </div>
                                <hr>
                                각 옵션별 수익률.
                            </div>
                        </div>

                        <div class="mb-4 col-xl-6">
                            <!-- Danger Card -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">위험도</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">OPT1_위험도 <span
                                            class="float-right">6.75%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 6.75%"
                                            aria-valuenow="6.75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">OPT2_위험도 <span
                                            class="float-right">5.97%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 5.97%"
                                            aria-valuenow="5.97" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">OPT3_위험도 <span
                                            class="float-right">4.49%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 4.49%"
                                            aria-valuenow="4.49" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    
                    <!-- DataTales -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">주식 정보</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th><div title="이거슨종목명입니다.">종목명</div></th>
                                            <th>종목코드</th>
                                            <th>OPT1 비율</th>
                                            <th>OPT2 비율<a title = '시가 총액을 반영하여 자산배분을 결정.'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            <th>OPT3 비율<a title = '시가 총액과 투자자 전망을 반영하여 자산배분을 결정.'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th><div title="이거슨종목명입니다.">종목명</div></th>
                                            <th>종목코드</th>
                                            <th>OPT1 비율</th>
                                            <th>OPT2 비율<a title = '시가 총액을 반영하여 자산배분을 결정.'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            <th>OPT3 비율<a title = '시가 총액과 투자자 전망을 반영하여 자산배분을 결정'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {%for i in range(lng):%}
                                        <tr>
                                            <td>{{table_data["종목명"][i]}}</td>
                                            <td><a target="_blank" href="https://finance.naver.com/item/main.naver?code={{index_num[i]}}">{{table_data["종목코드"][i]}}</a></td>
                                            <td>{{table_data["opt1"][i]}}</td>
                                            <td>{{table_data["opt2"][i]}}</td>
                                            <td>{{table_data["opt3"][i]}}</td>
                                            </tr>
                                        {%endfor%}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; INVEST IN BEST</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}" > </script>

    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}" > </script>

    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}" > </script>

    <!-- Page level plugins -->

    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}" > </script>

    <!-- Page level custom scripts -->

    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}" > </script>

    <script src="{{ url_for('static', filename='js/demo/bv/chart-pie-demo-bv-origin.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/demo/bv/chart-pie-demo-bv-op1.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/demo/bv/chart-pie-demo-bv-op2.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/demo/bv/chart-bar-demo-bv.js') }}" > </script>

    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}" > </script>

</body>

</html>