<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INVEST IN BEST</title>

    <!-- Custom fonts for this template-->

    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->

    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this page -->

    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">



</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">INVEST IN BEST</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/info">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Information</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                포트폴리오
            </div>

            <!-- Nav Item - rebal -->
            <li class="nav-item active">
                <a class="nav-link" href="/chart">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Roly-Poly 모델</span></a>
            </li>

            <!-- Nav Item - capm -->
            <li class="nav-item active">
                <a class="nav-link" href="/capm">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>CAPM 모델</span></a>
            </li>

            <!-- Nav Item - bl -->
            <li class="nav-item active">
                <a class="nav-link" href="/fac5">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Black–Litterman 모델</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h1 mb-2 mt-2 text-gray-800">
                        <a target="_blank" href="info">CAPM 모델</a>
                    </h1>
                    <hr class="Divider my-0">

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-8 col-lg-7 mt-2">

                            <!-- Area Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">SK하이닉스 월별수익률</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart_capm"></canvas>
                                    </div>
                                    <hr>
                                    SK하이닉스의 월별 기대수익률 그래프
                                </div>
                            </div>
                        </div>

                            <!-- Content Row -->
                    <div class="column col-xl-4">

                        <!-- Earnings (Monthly) Card -->
                        <div class="col-xl-12 col-md-6 mb-4 mt-2">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                월별 기대수익률</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">0.31%</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card -->
                        <div class="col-xl-12 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                연간 기대수익률</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">3.7%</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- balance Card -->
                        <div class="col-xl-12 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">자산 배분 비율
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- index Card -->
                        <div class="col-xl-12 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                목표 주식</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">SK하이닉스(000660)</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>

        
                    </div>
                    
                    
                    <!-- DataTales -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">주식 정보</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th><div title="이거슨종목명입니다.">종목명</div></th>
                                            <th>종목코드</th>
                                            <th>자산총액(억원)</th>
                                            <th>PER<a title = '주가가 그 회사 1주당 수익의 몇 배가 되는가를 나타내는 지표로, 주가를 1주당 순이익으로 나눈 것이다.'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            <th>PBR<a title = '주가와 1주당 순자산을 비교하여 나타낸 비율(PBR = 주가 / 주당 순자산가치).'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            <th>60beta<a title = '시장 전체와 비교하여 증권 또는 포트폴리오의 변동성을 측정한 것'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            <th>스타일</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th><div title="이거슨종목명입니다.">종목명</div></th>
                                            <th>종목코드</th>
                                            <th>자산총액(억원)</th>
                                            <th>PER<a title = '주가가 그 회사 1주당 수익의 몇 배가 되는가를 나타내는 지표로, 주가를 1주당 순이익으로 나눈 것이다.'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            <th>PBR<a title = '주가와 1주당 순자산을 비교하여 나타낸 비율(PBR = 주가 / 주당 순자산가치).'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            <th>60beta<a title = '시장 전체와 비교하여 증권 또는 포트폴리오의 변동성을 측정한 것'><img src="https://ssl.pstatic.net/static/nfinance/2018/10/26/btn_help.png" width="15" height="15"></a></th>
                                            <th>스타일</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {%for i in range(lng):%}
                                        <tr>
                                            <td>{{table_data["Name"][i]}}</td>
                                            <td><a target="_blank" href="https://finance.naver.com/item/main.naver?code={{index_num[i]}}">{{table_data["회사코드"][i]}}</a></td>
                                            <td>{{table_data["시가총액"][i]}}</td>
                                            <td>{{table_data["PER"][i]}}</td>
                                            <td>{{table_data["PBR"][i]}}</td>
                                            <td>{{table_data["60beta"][i]}}</td>
                                            <td>{{table_data["분류기준"][i]}}</td>
                                            </tr>
                                        {%endfor%}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; INVEST IN BEST</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}" > </script>

    <!-- Core plugin JavaScript-->

    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}" > </script>

    <!-- Custom scripts for all pages-->

    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}" > </script>

    <!-- Page level plugins -->

    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}" > </script>

    <!-- Page level custom scripts -->
    
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo-capm.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/demo/chart-bar-demo.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}" > </script>

</body>

</html>